* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

body {
    background: #bfc3ff;
}

.title {
    padding-top: 4%;
    text-align: center;
}

.title h1 {
    letter-spacing: 12px;
    font-size: 52px;
    color: rgba(243,234,232,1);
    display: inline-block;
    box-shadow: 2px 0 0 #05101d;
    overflow: hidden;
    animation: textTyping 10s steps(6) infinite;
    font-weight: bold;
    text-shadow: 4px 4px 2px #122d3f;
}

@keyframes textTyping
{
    0%,90%,100%
    {
        width: 0px;
    }
    30%,60%
    {
        width: 194.89px;
    }
}

.navigacija {
    width:100%;
}

.nav_container {
    float: right;
    width: 50%;
    display: grid;
    text-align: center;
}

.home {
    width:50%;
}

nav ul li {
    display:inline-block;
    padding: 2%;
}

nav ul li a {
    font-size: 18px;
    color: #55809e;
    text-decoration: none;
    text-transform: uppercase;
}

.fas {
    font-size: 1.8em;
    color: #122d3f;
    transition: 0.25s;
}

.fas:hover {
    transform: scale(130%);
}

.fa-table {
    font-weight: bold;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 3px;
    text-underline-offset: 2px;
}

.fa-plus {
    font-size: 2rem;
}

nav ul li a .fa-table:hover {
    text-decoration: underline;
}

.search_tooltip{ 
    display: block;
    padding: 2%;
    width: 35px;
}

img {
    transition: 0.2s;
}

img:hover {
    transform: scale(130%);
}

.main_container {
    float: left;
    width: 50%;
}

.searchbox_container {
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1%;
    width: 100%;
}

#searchbox {
    border-radius: 55px;
    padding: 15px;
    background: transparent;
    display: flex;
    align-items: center;
    box-shadow:0px 0px 10px #1aa9ba;
    border: 4px solid #122d3f;
}

#SearchBar {
    width: 30px;
    cursor: pointer;
}

.searchbox_container input {
    font-size: 20px;
    width: 0px;
    border: 0;
    background: transparent;
    outline: none;
    transition: 1s;
    color: #708090;
    font-weight: bold;
}

.searchbox_container .active input {
    width: 150px;
    padding: 2px 5px;
    color: #36454F;
}

.search input::placeholder{
    background-color: transparent;
}

.btn-primary {
    background-color: transparent;
    border: none;
}

.dropdown_imena {
    clear: both;
    margin: auto;
    width: 24%;
}

.td.header {
    background-color: transparent;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    z-index: 1000;
  }

.table {
    background-color: transparent;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    height: 95px;
    overflow: auto;
    z-index: 1;
}

  
.table::-webkit-scrollbar {
    width: 8px;
}

.table::-webkit-scrollbar-thumb {
    background: #122d3f;
    border-radius: 25px;
}

.table::-webkit-scrollbar-track {
    background: #1aa9ba;
    border-left: 3px solid #bfc3ff;
    border-right: 3px solid #bfc3ff;
    border-radius: 25px;
}

/*
.table>:not(caption)>*>* {
    padding: 0%;
}
*/

.tr {
    display: table-row;
}

.td, .th {
    display: table-cell;
}

.td {
  font-family: 'Open sans', sans-serif;
  transition: 0.2s;
}

.main_container button {
    border: none;
}

.cokolada {
    width: 65%;
    margin: 55px auto;
}

.cokolada td {
    border: 1px solid black;
    height: 60px;
}

.odabrani_container {
    width: 60%;
    height: 200px;
    columns: 50px auto;
    column-fill: auto;
    margin: auto;
}